Scrap 2023-2025 Data

In [12]:
import pandas as pd
import csv
import os
from pathlib import Path

# Set working directory to project root if run from notebooks/
if Path.cwd().name == "notebooks":
    os.chdir("..")

# Define folders â€“ assume they already exist
raw_data_dir = Path("data/Raw")
cleaned_data_dir = Path("data/Cleaned")
metrics_data_dir = Path("data/Metrics")
current_season_dir = metrics_data_dir / "CurrentSeasonTeams"


url = 'https://www.basketball-reference.com/wnba/years/2023_totals.html'
df2023 = pd.read_html(url)[0]  # First table is the player totals
df2023.to_csv(raw_data_dir / '2023Data.csv', index=False, sep=',', encoding='utf-8', lineterminator='\n', quoting=csv.QUOTE_NONNUMERIC)
df2023 = df2023[df2023['Player'] != 'Player']  # Drop header rows repeated in table
df2023 = df2023.drop_duplicates()        # Remove duplicate entries, if any
tot_players = df2023[df2023['Team'] == 'TOT']['Player']
df2023 = pd.concat([
    df2023[df2023['Team'] == 'TOT'],                              # all TOT rows
    df2023[~df2023['Player'].isin(tot_players) & (df2023['Team'] != 'TOT')]  # single-team players
], ignore_index=True)
df2023['MP'] = pd.to_numeric(df2023['MP'])
df2023 = df2023.drop('G.1', axis=1)
df2023 = df2023.drop('MP.1', axis=1)

cols_to_exclude = ['Player', 'Team', 'Pos']
cols_to_convert = df2023.columns.difference(cols_to_exclude)

df2023[cols_to_convert] = df2023[cols_to_convert].apply(pd.to_numeric, errors='coerce')

df2023

url = 'https://www.basketball-reference.com/wnba/years/2024_totals.html'
df2024 = pd.read_html(url)[0]  # First table is the player totals
df2024.to_csv(raw_data_dir / '2024Data.csv', index=False, sep=',', encoding='utf-8', lineterminator='\n', quoting=csv.QUOTE_NONNUMERIC)
df2024 = df2024[df2024['Player'] != 'Player']  # Drop header rows repeated in table
df2024 = df2024.drop_duplicates()        # Remove duplicate entries, if any
tot_players = df2024[df2024['Team'] == 'TOT']['Player']
df2024 = pd.concat([
    df2024[df2024['Team'] == 'TOT'],                              # all TOT rows
    df2024[~df2024['Player'].isin(tot_players) & (df2024['Team'] != 'TOT')]  # single-team players
], ignore_index=True)
df2024['MP'] = pd.to_numeric(df2024['MP'])
df2024 = df2024.drop('G.1', axis=1)
df2024 = df2024.drop('MP.1', axis=1)

cols_to_exclude = ['Player', 'Team', 'Pos']
cols_to_convert = df2024.columns.difference(cols_to_exclude)

df2024[cols_to_convert] = df2024[cols_to_convert].apply(pd.to_numeric, errors='coerce')

df2024

url = 'https://www.basketball-reference.com/wnba/years/2025_totals.html'
df2025 = pd.read_html(url)[0]  # First table is the player totals
df2025.to_csv(raw_data_dir / '2025Data.csv', index=False, sep=',', encoding='utf-8', lineterminator='\n', quoting=csv.QUOTE_NONNUMERIC)
df2025 = df2025[df2025['Player'] != 'Player']  # Drop header rows repeated in table
df2025 = df2025.drop_duplicates()        # Remove duplicate entries, if any
tot_players = df2025[df2025['Team'] == 'TOT']['Player']
df2025 = pd.concat([
    df2025[df2025['Team'] == 'TOT'],                              # all TOT rows
    df2025[~df2025['Player'].isin(tot_players) & (df2025['Team'] != 'TOT')]  # single-team players
], ignore_index=True)
df2025['MP'] = pd.to_numeric(df2025['MP'])
df2025 = df2025.drop('G.1', axis=1)
df2025 = df2025.drop('MP.1', axis=1)

cols_to_exclude = ['Player', 'Team', 'Pos']
cols_to_convert = df2025.columns.difference(cols_to_exclude)

df2025[cols_to_convert] = df2025[cols_to_convert].apply(pd.to_numeric, errors='coerce')

df2025

,Player,Team,Pos,G,MP,GS,FG,FGA,FG%,3P,...,FTA,FT%,ORB,TRB,AST,STL,BLK,TOV,PF,PTS
0,DeWanna Bonner,TOT,G-F,10,218,3,21,61,0.344,9,...,22,0.909,5,40,16,11,1,9,14,71
1,Haley Jones,TOT,F-G,8,102,0,12,26,0.462,1,...,2,0.500,3,17,7,2,3,3,12,26
2,Liatu King,TOT,F,14,136,0,13,27,0.481,1,...,15,0.733,12,29,4,2,0,11,14,38
3,Tiffany Mitchell,TOT,G,18,253,2,23,52,0.442,6,...,33,0.727,8,33,8,8,3,15,31,76
4,NaLyssa Smith,TOT,F,23,450,19,58,131,0.443,2,...,59,0.627,37,114,19,11,19,25,65,155
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,Gabby Williams,SEA,F,22,745,22,116,257,0.451,35,...,40,0.825,15,103,99,54,11,47,34,300
164,Kiana Williams,PHO,G,4,42,0,9,15,0.600,3,...,0,NaN,0,5,4,1,0,1,0,21
165,A'ja Wilson,LVA,C,17,517,17,122,259,0.471,6,...,136,0.846,28,155,56,28,41,39,31,365
166,Jackie Young,LVA,G,21,633,21,124,284,0.437,33,...,95,0.905,27,89,81,21,8,53,55,367
167,Cecilia Zandalasini,GSV,F,6,119,2,18,40,0.450,10,...,9,0.889,1,9,7,6,1,7,12,54

Adding Defensive Rebounds

In [13]:
df2023['DRB'] = df2023['TRB'] - df2023['ORB']

df2024['DRB'] = df2024['TRB'] - df2024['ORB']

df2025['DRB'] = df2025['TRB'] - df2025['ORB']

# Define target and reference columns
col_to_move = 'DRB'
before_col = 'TRB'

# Get current column order and remove the column to move
cols = df2023.columns.tolist()
cols.remove(col_to_move)

# Find index to insert the column before the target
insert_at = cols.index(before_col)

# Insert the column at the desired position
cols.insert(insert_at, col_to_move)

# Reorder the DataFrame
df2023 = df2023[cols]


# Get current column order and remove the column to move
cols = df2024.columns.tolist()
cols.remove(col_to_move)

# Find index to insert the column before the target
insert_at = cols.index(before_col)

# Insert the column at the desired position
cols.insert(insert_at, col_to_move)

# Reorder the DataFrame
df2024 = df2024[cols]

# Get current column order and remove the column to move
cols = df2025.columns.tolist()
cols.remove(col_to_move)

# Find index to insert the column before the target
insert_at = cols.index(before_col)

# Insert the column at the desired position
cols.insert(insert_at, col_to_move)

# Reorder the DataFrame
df2025 = df2025[cols]

df2023.to_csv(cleaned_data_dir / '2023Data.csv', index=False, sep=',', encoding='utf-8', lineterminator='\n', quoting=csv.QUOTE_NONNUMERIC)

df2024.to_csv(cleaned_data_dir / '2024Data.csv', index=False, sep=',', encoding='utf-8', lineterminator='\n', quoting=csv.QUOTE_NONNUMERIC)

df2025.to_csv(cleaned_data_dir / '2025Data.csv', index=False, sep=',', encoding='utf-8', lineterminator='\n', quoting=csv.QUOTE_NONNUMERIC)