Scrap 2023-2025 Data

In [ ]:
import pandas as pd
import os

os.makedirs("data/Raw", exist_ok=True)
os.makedirs("data/Cleaned", exist_ok=True)
os.makedirs("data/Metrics", exist_ok=True)



url = 'https://www.basketball-reference.com/wnba/years/2023_totals.html'
df2023 = pd.read_html(url)[0]  # First table is the player totals
df2023.to_csv('data/Raw/2023Data.csv', index=False)
df2023 = df2023[df2023['Player'] != 'Player']  # Drop header rows repeated in table
df2023 = df2023.drop_duplicates()        # Remove duplicate entries, if any
tot_players = df2023[df2023['Team'] == 'TOT']['Player']
df2023 = pd.concat([
    df2023[df2023['Team'] == 'TOT'],                              # all TOT rows
    df2023[~df2023['Player'].isin(tot_players) & (df2023['Team'] != 'TOT')]  # single-team players
], ignore_index=True)
df2023['MP'] = pd.to_numeric(df2023['MP'])
df2023 = df2023.drop('G.1', axis=1)
df2023 = df2023.drop('MP.1', axis=1)

cols_to_exclude = ['Player', 'Team', 'Pos']
cols_to_convert = df2023.columns.difference(cols_to_exclude)

df2023[cols_to_convert] = df2023[cols_to_convert].apply(pd.to_numeric, errors='coerce')

df2023

url = 'https://www.basketball-reference.com/wnba/years/2024_totals.html'
df2024 = pd.read_html(url)[0]  # First table is the player totals
df2024.to_csv('data/Raw/2024Data.csv', index=False)
df2024 = df2024[df2024['Player'] != 'Player']  # Drop header rows repeated in table
df2024 = df2024.drop_duplicates()        # Remove duplicate entries, if any
tot_players = df2024[df2024['Team'] == 'TOT']['Player']
df2024 = pd.concat([
    df2024[df2024['Team'] == 'TOT'],                              # all TOT rows
    df2024[~df2024['Player'].isin(tot_players) & (df2024['Team'] != 'TOT')]  # single-team players
], ignore_index=True)
df2024['MP'] = pd.to_numeric(df2024['MP'])
df2024 = df2024.drop('G.1', axis=1)
df2024 = df2024.drop('MP.1', axis=1)

cols_to_exclude = ['Player', 'Team', 'Pos']
cols_to_convert = df2024.columns.difference(cols_to_exclude)

df2024[cols_to_convert] = df2024[cols_to_convert].apply(pd.to_numeric, errors='coerce')

df2024

url = 'https://www.basketball-reference.com/wnba/years/2025_totals.html'
df2025 = pd.read_html(url)[0]  # First table is the player totals
df2025.to_csv('data/Raw/2025Data.csv', index=False)
df2025 = df2025[df2025['Player'] != 'Player']  # Drop header rows repeated in table
df2025 = df2025.drop_duplicates()        # Remove duplicate entries, if any
tot_players = df2025[df2025['Team'] == 'TOT']['Player']
df2025 = pd.concat([
    df2025[df2025['Team'] == 'TOT'],                              # all TOT rows
    df2025[~df2025['Player'].isin(tot_players) & (df2025['Team'] != 'TOT')]  # single-team players
], ignore_index=True)
df2025['MP'] = pd.to_numeric(df2025['MP'])
df2025 = df2025.drop('G.1', axis=1)
df2025 = df2025.drop('MP.1', axis=1)

cols_to_exclude = ['Player', 'Team', 'Pos']
cols_to_convert = df2025.columns.difference(cols_to_exclude)

df2025[cols_to_convert] = df2025[cols_to_convert].apply(pd.to_numeric, errors='coerce')

df2025

,Player,Team,Pos,G,MP,GS,FG,FGA,FG%,3P,...,FTA,FT%,ORB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Haley Jones,TOT,F-G,6,72,0,8,19,0.421,1,...,0,NaN,3,16,6,1,1,2,7,17
1,Liatu King,TOT,F,13,124,0,12,24,0.500,1,...,15,0.733,10,25,4,2,0,11,13,36
2,NaLyssa Smith,TOT,F,19,367,15,46,112,0.411,2,...,49,0.633,32,96,14,8,16,20,47,125
3,Julie Vanloo,TOT,G,10,182,2,14,48,0.292,8,...,6,0.833,2,17,37,6,0,25,16,41
4,Li Yueru,TOT,C,16,245,4,19,57,0.333,4,...,40,0.875,27,63,15,5,1,18,35,77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,Gabby Williams,SEA,F,18,607,18,92,211,0.436,30,...,32,0.781,12,84,84,47,10,41,26,239
162,Kiana Williams,PHO,G,2,5,0,1,3,0.333,0,...,0,NaN,0,0,0,0,0,0,0,2
163,A'ja Wilson,LVA,C,14,445,14,102,230,0.443,4,...,119,0.857,23,132,50,25,35,38,30,310
164,Jackie Young,LVA,G,17,518,17,100,230,0.435,29,...,72,0.903,23,69,63,20,6,44,45,294
165,Cecilia Zandalasini,GSV,F,4,92,2,13,28,0.464,8,...,7,0.857,1,9,6,6,1,5,12,40

Adding Defensive Rebounds

In [ ]:
df2023['DRB'] = df2023['TRB'] - df2023['ORB']

df2024['DRB'] = df2024['TRB'] - df2024['ORB']

df2025['DRB'] = df2025['TRB'] - df2025['ORB']

# Define target and reference columns
col_to_move = 'DRB'
before_col = 'TRB'

# Get current column order and remove the column to move
cols = df2023.columns.tolist()
cols.remove(col_to_move)

# Find index to insert the column before the target
insert_at = cols.index(before_col)

# Insert the column at the desired position
cols.insert(insert_at, col_to_move)

# Reorder the DataFrame
df2023 = df2023[cols]


# Get current column order and remove the column to move
cols = df2024.columns.tolist()
cols.remove(col_to_move)

# Find index to insert the column before the target
insert_at = cols.index(before_col)

# Insert the column at the desired position
cols.insert(insert_at, col_to_move)

# Reorder the DataFrame
df2024 = df2024[cols]

# Get current column order and remove the column to move
cols = df2025.columns.tolist()
cols.remove(col_to_move)

# Find index to insert the column before the target
insert_at = cols.index(before_col)

# Insert the column at the desired position
cols.insert(insert_at, col_to_move)

# Reorder the DataFrame
df2025 = df2025[cols]

df2023.to_csv('data/Cleaned/2023Data.csv', index=False)

df2024.to_csv('data/Cleaned/2024Data.csv', index=False)

df2025.to_csv('data/Cleaned/2025Data.csv', index=False)