Scrap 2023-2025 Data

In [6]:
import pandas as pd

url = 'https://www.basketball-reference.com/wnba/years/2023_totals.html'
df2023 = pd.read_html(url)[0]  # First table is the player totals
df2023.to_csv('/Users/stephenmonroe/Desktop/Coding/WNBA-Player-Rating/data/Raw/2023Data.csv', index=False)
df2023 = df2023[df2023['Player'] != 'Player']  # Drop header rows repeated in table
df2023 = df2023.drop_duplicates()        # Remove duplicate entries, if any
tot_players = df2023[df2023['Team'] == 'TOT']['Player']
df2023 = pd.concat([
    df2023[df2023['Team'] == 'TOT'],                              # all TOT rows
    df2023[~df2023['Player'].isin(tot_players) & (df2023['Team'] != 'TOT')]  # single-team players
], ignore_index=True)
df2023['MP'] = pd.to_numeric(df2023['MP'])
df2023 = df2023.drop('G.1', axis=1)
df2023 = df2023.drop('MP.1', axis=1)

cols_to_exclude = ['Player', 'Team', 'Pos']
cols_to_convert = df2023.columns.difference(cols_to_exclude)

df2023[cols_to_convert] = df2023[cols_to_convert].apply(pd.to_numeric, errors='coerce')

df2023

url = 'https://www.basketball-reference.com/wnba/years/2024_totals.html'
df2024 = pd.read_html(url)[0]  # First table is the player totals
df2024.to_csv('/Users/stephenmonroe/Desktop/Coding/WNBA-Player-Rating/data/Raw/2024Data.csv', index=False)
df2024 = df2024[df2024['Player'] != 'Player']  # Drop header rows repeated in table
df2024 = df2024.drop_duplicates()        # Remove duplicate entries, if any
tot_players = df2024[df2024['Team'] == 'TOT']['Player']
df2024 = pd.concat([
    df2024[df2024['Team'] == 'TOT'],                              # all TOT rows
    df2024[~df2024['Player'].isin(tot_players) & (df2024['Team'] != 'TOT')]  # single-team players
], ignore_index=True)
df2024['MP'] = pd.to_numeric(df2024['MP'])
df2024 = df2024.drop('G.1', axis=1)
df2024 = df2024.drop('MP.1', axis=1)

cols_to_exclude = ['Player', 'Team', 'Pos']
cols_to_convert = df2024.columns.difference(cols_to_exclude)

df2024[cols_to_convert] = df2024[cols_to_convert].apply(pd.to_numeric, errors='coerce')

df2024

url = 'https://www.basketball-reference.com/wnba/years/2025_totals.html'
df2025 = pd.read_html(url)[0]  # First table is the player totals
df2025.to_csv('/Users/stephenmonroe/Desktop/Coding/WNBA-Player-Rating/data/Raw/2025Data.csv', index=False)
df2025 = df2025[df2025['Player'] != 'Player']  # Drop header rows repeated in table
df2025 = df2025.drop_duplicates()        # Remove duplicate entries, if any
tot_players = df2025[df2025['Team'] == 'TOT']['Player']
df2025 = pd.concat([
    df2025[df2025['Team'] == 'TOT'],                              # all TOT rows
    df2025[~df2025['Player'].isin(tot_players) & (df2025['Team'] != 'TOT')]  # single-team players
], ignore_index=True)
df2025['MP'] = pd.to_numeric(df2025['MP'])
df2025 = df2025.drop('G.1', axis=1)
df2025 = df2025.drop('MP.1', axis=1)

cols_to_exclude = ['Player', 'Team', 'Pos']
cols_to_convert = df2025.columns.difference(cols_to_exclude)

df2025[cols_to_convert] = df2025[cols_to_convert].apply(pd.to_numeric, errors='coerce')

df2025

,Player,Team,Pos,G,MP,GS,FG,FGA,FG%,3P,...,FTA,FT%,ORB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Haley Jones,TOT,F-G,6,72,0,8,19,0.421,1,...,0,NaN,3,16,6,1,1,2,7,17
1,Li Yueru,TOT,C,15,221,3,18,52,0.346,4,...,28,0.893,23,52,15,4,1,16,32,65
2,Monique Akoa-Makani,PHO,G,17,341,17,47,102,0.461,23,...,23,1.000,13,38,42,16,1,24,45,140
3,Julie Allemand,LAS,G,8,144,1,7,20,0.350,6,...,2,1.000,5,21,22,6,0,14,12,22
4,Lindsay Allen,CON,G,11,167,3,10,29,0.345,1,...,5,0.800,0,7,25,2,3,11,17,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,Gabby Williams,SEA,F,17,572,17,87,196,0.444,30,...,29,0.828,11,79,78,45,10,40,26,228
162,Kiana Williams,PHO,G,1,3,0,1,2,0.500,0,...,0,NaN,0,0,0,0,0,0,0,2
163,A'ja Wilson,LVA,C,13,419,13,93,212,0.439,4,...,106,0.858,23,129,49,25,34,35,27,281
164,Jackie Young,LVA,G,16,492,16,98,221,0.443,28,...,70,0.914,23,68,62,20,6,42,43,288
165,Cecilia Zandalasini,GSV,F,4,92,2,13,28,0.464,8,...,7,0.857,1,9,6,6,1,5,12,40

Adding Defensive Rebounds

In [7]:
df2023['DRB'] = df2023['TRB'] - df2023['ORB']

df2024['DRB'] = df2024['TRB'] - df2024['ORB']

df2025['DRB'] = df2025['TRB'] - df2025['ORB']

# Define target and reference columns
col_to_move = 'DRB'
before_col = 'TRB'

# Get current column order and remove the column to move
cols = df2023.columns.tolist()
cols.remove(col_to_move)

# Find index to insert the column before the target
insert_at = cols.index(before_col)

# Insert the column at the desired position
cols.insert(insert_at, col_to_move)

# Reorder the DataFrame
df2023 = df2023[cols]


# Get current column order and remove the column to move
cols = df2024.columns.tolist()
cols.remove(col_to_move)

# Find index to insert the column before the target
insert_at = cols.index(before_col)

# Insert the column at the desired position
cols.insert(insert_at, col_to_move)

# Reorder the DataFrame
df2024 = df2024[cols]

# Get current column order and remove the column to move
cols = df2025.columns.tolist()
cols.remove(col_to_move)

# Find index to insert the column before the target
insert_at = cols.index(before_col)

# Insert the column at the desired position
cols.insert(insert_at, col_to_move)

# Reorder the DataFrame
df2025 = df2025[cols]

df2023.to_csv('/Users/stephenmonroe/Desktop/Coding/WNBA-Player-Rating/data/Cleaned/2023Data.csv', index=False)

df2024.to_csv('/Users/stephenmonroe/Desktop/Coding/WNBA-Player-Rating/data/Cleaned/2024Data.csv', index=False)

df2025.to_csv('/Users/stephenmonroe/Desktop/Coding/WNBA-Player-Rating/data/Cleaned/2025Data.csv', index=False)