Scrap 2023-2025 Data

In [15]:
import pandas as pd

url = 'https://www.basketball-reference.com/wnba/years/2023_totals.html'
df2023 = pd.read_html(url)[0]  # First table is the player totals
df2023.to_csv('/Users/stephenmonroe/Desktop/Coding/WNBA-Player-Rating/data/Raw/2023Data.csv', index=False)
df2023 = df2023[df2023['Player'] != 'Player']  # Drop header rows repeated in table
df2023 = df2023.drop_duplicates()        # Remove duplicate entries, if any
df2023['MP'] = pd.to_numeric(df2023['MP'])
df2023 = df2023.drop('G.1', axis=1)
df2023 = df2023.drop('MP.1', axis=1)

cols_to_exclude = ['Player', 'Team', 'Pos']
cols_to_convert = df2023.columns.difference(cols_to_exclude)

df2023[cols_to_convert] = df2023[cols_to_convert].apply(pd.to_numeric, errors='coerce')

df2023

url = 'https://www.basketball-reference.com/wnba/years/2024_totals.html'
df2024 = pd.read_html(url)[0]  # First table is the player totals
df2024.to_csv('/Users/stephenmonroe/Desktop/Coding/WNBA-Player-Rating/data/Raw/2024Data.csv', index=False)
df2024 = df2024[df2024['Player'] != 'Player']  # Drop header rows repeated in table
df2024 = df2024.drop_duplicates()        # Remove duplicate entries, if any
df2024['MP'] = pd.to_numeric(df2024['MP'])
df2024 = df2024.drop('G.1', axis=1)
df2024 = df2024.drop('MP.1', axis=1)

cols_to_exclude = ['Player', 'Team', 'Pos']
cols_to_convert = df2024.columns.difference(cols_to_exclude)

df2024[cols_to_convert] = df2024[cols_to_convert].apply(pd.to_numeric, errors='coerce')

df2024

url = 'https://www.basketball-reference.com/wnba/years/2025_totals.html'
df2025 = pd.read_html(url)[0]  # First table is the player totals
df2025.to_csv('/Users/stephenmonroe/Desktop/Coding/WNBA-Player-Rating/data/Raw/2025Data.csv', index=False)
df2025 = df2025[df2025['Player'] != 'Player']  # Drop header rows repeated in table
df2025 = df2025.drop_duplicates()        # Remove duplicate entries, if any
df2025['MP'] = pd.to_numeric(df2025['MP'])
df2025 = df2025.drop('G.1', axis=1)
df2025 = df2025.drop('MP.1', axis=1)

cols_to_exclude = ['Player', 'Team', 'Pos']
cols_to_convert = df2025.columns.difference(cols_to_exclude)

df2025[cols_to_convert] = df2025[cols_to_convert].apply(pd.to_numeric, errors='coerce')

df2025

,Player,Team,Pos,G,MP,GS,FG,FGA,FG%,3P,...,FTA,FT%,ORB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Monique Akoa-Makani,PHO,G,17,341,17,47,102,0.461,23,...,23,1.000,13,38,42,16,1,24,45,140
1,Julie Allemand,LAS,G,8,144,1,7,20,0.350,6,...,2,1.000,5,21,22,6,0,14,12,22
2,Lindsay Allen,CON,G,11,167,3,10,29,0.345,1,...,5,0.800,0,7,25,2,3,11,17,25
3,Rebecca Allen,CHI,F-G,16,328,9,35,100,0.350,16,...,10,0.600,7,55,21,9,8,21,16,92
4,Laeticia Amihere,GSV,F,7,128,0,22,41,0.537,0,...,23,0.696,13,44,10,4,8,14,15,60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,Li Yueru,TOT,C,15,221,3,18,52,0.346,4,...,28,0.893,23,52,15,4,1,16,32,65
174,Haley Jones,PHO,F-G,4,48,0,4,12,0.333,1,...,0,NaN,2,8,4,1,1,2,4,9
175,Li Yueru,SEA,C,9,78,0,6,20,0.300,2,...,12,0.917,4,14,6,1,0,7,13,25
176,Haley Jones,DAL,F-G,2,24,0,4,7,0.571,0,...,0,NaN,1,8,2,0,0,0,3,8
177,Li Yueru,DAL,C,6,143,3,12,32,0.375,2,...,16,0.875,19,38,9,3,1,9,19,40

Adding Defensive Rebounds

In [17]:
df2023['DRB'] = df2023['TRB'] - df2023['ORB']

df2024['DRB'] = df2024['TRB'] - df2024['ORB']

df2025['DRB'] = df2025['TRB'] - df2025['ORB']

# Define target and reference columns
col_to_move = 'DRB'
before_col = 'TRB'

# Get current column order and remove the column to move
cols = df2023.columns.tolist()
cols.remove(col_to_move)

# Find index to insert the column before the target
insert_at = cols.index(before_col)

# Insert the column at the desired position
cols.insert(insert_at, col_to_move)

# Reorder the DataFrame
df2023 = df2023[cols]


# Get current column order and remove the column to move
cols = df2024.columns.tolist()
cols.remove(col_to_move)

# Find index to insert the column before the target
insert_at = cols.index(before_col)

# Insert the column at the desired position
cols.insert(insert_at, col_to_move)

# Reorder the DataFrame
df2024 = df2024[cols]

# Get current column order and remove the column to move
cols = df2025.columns.tolist()
cols.remove(col_to_move)

# Find index to insert the column before the target
insert_at = cols.index(before_col)

# Insert the column at the desired position
cols.insert(insert_at, col_to_move)

# Reorder the DataFrame
df2025 = df2025[cols]

df2023.to_csv('/Users/stephenmonroe/Desktop/Coding/WNBA-Player-Rating/data/Cleaned/2023Data.csv', index=False)

df2024.to_csv('/Users/stephenmonroe/Desktop/Coding/WNBA-Player-Rating/data/Cleaned/2024Data.csv', index=False)

df2025.to_csv('/Users/stephenmonroe/Desktop/Coding/WNBA-Player-Rating/data/Cleaned/2025Data.csv', index=False)